.home{
    display: flex;
    margin: 90px;
    height: 410px;
 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
img{
    border-radius: 20%;
}
section{
    align-items: center;
    display: flex;
    column-gap: 10px;
    flex-direction: column;
}