@media(max-width:1172px){

    #about{
        margin-top: 990px;
    }
    .card-skills{
        flex-direction: column;
       
    }
    .card-about-me{
        flex-direction: column;
    }
    .section-d{
        align-items: center;
        align-content: center;
    }
}
@media(max-width:610px){
    header{
        flex-direction: column;
    }
    .logo{
        margin-bottom: 5px;
    }



    section{
        text-align: center;
    }
}
@media(max-width:417px){
    .card-skills{
        width: 325px;
    }
    .card-about-me{
        width: 325px;
    }
    ul li{
        margin: 0px 10px;
    }
}
@media(max-width:351px){
    ul li{
        font-size: smaller;
    }   
}
@media(max-width:347px){
    .card-skills{
        width: 300px;
    }
    .card-about-me{
        width: 300px;
    }
}